[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "1.4.25"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
